@import "tailwindcss";

/* Header */
.nav__group {
    flex: 1;
    justify-content: space-evenly;
}


/* Marquee */
.marquee .marquee-track{
    animation: scroll 40s linear infinite;
}
.marquee .marquee-track:hover{
    animation-play-state: paused;
}

/* Products */
.product_card img {
    box-shadow: 0 0 100px 0 #00000038;
}




/* Animations */
@keyframes scroll {
  from { transform: translateX(0); }
  to   { transform: translateX(-50%); }
}
